html{
    font-family: helvetica;
}
.nimi{
    text-align: center;
    color: #4FC3F7;
    margin: 2rem 0 2rem 0;
}
h1{
    margin: 0;
}
.otsikot{
    background-color: #E0E0E0;
    font-weight: bold;
    margin: 0 0 1rem 0;
    font-size: 120%;
}
.otsikot p{
    
}
.header{
    border: 1px solid black;
    border-top: none;
}
p{
    margin: 0rem;
}
a{
    margin: 0rem;
}
.viiva{
    border-left: 1px solid black;
}
.otsikot p{
    margin: 0;
    padding: .5rem;
}
.center{
    text-align: center;
}
a{
    font-size: 110%;
}
a:hover{
    text-decoration: none;
    cursor: pointer;
}
.stuff{
    text-transform: lowercase;
}
.stuff::first-letter{
    text-transform: uppercase;
}
.as-otsikko{
    text-transform: lowercase;
    font-weight: bold;
    font-size: 120%;    
}
.as-otsikko::first-letter{
    text-transform: uppercase;
}
.text pre{
    border: none;
    border-radius: 0;
    background-color: white;
    font-family: helvetica;
    font-size: 120%;
}

/* Mobile */
@media screen and (max-width: 320px){
    .otsikot{
        margin: 0;
        padding: 0;
    }
    a{
        font-size: 120%;
    }
    .viiva{
        border: none;
    }
    .header{
        border: none;
        border-bottom: 1px solid black;
    }
    .haku{
        border-top: 1px solid black;
    }
    .stuff{
        font-size: 130%;
    }
    .stuff:last-of-type{
        border-bottom: 1px solid black;
    }
    .stuff:first-of-type{
        margin-top: 1rem;
    }
    .osall{
        font-size: 130%;
    }
    .nimi h1{
        font-size: 200%;
    }
}
/* Tablet */
@media screen and (max-width: 768px){
    .viiva{
        border: none;
    }
    .haku{
        border-top: 1px solid black;
        border-left: 1px solid black;
    }
}







